window {
margin: 0px;
border: 1px solid #7A8478;
background-color: rgba(0,0,0,0.3);
}

#input {
margin: 5px;
border: none;
color: rgba(255,255,255,1);
background-color: rgba(0,0,0,0.3);
}

#inner-box {
margin: 5px;
border: none;
background-color: rgba(0,0,0,0.7);
}

#outer-box {
margin: 5px;
border: none;
background-color: rgba(0,0,0,0.3);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #FFFFFF;
}

#entry:selected {
background-color: rgba(122,132,120,0.3);
}
* {
background-color: rgba(0,0,0,0.3);
}

window {
margin: 0px;
border: 1px solid #7A8478;
background-color: rgba(0,0,0,0.3);
}

#input {
margin: 5px;
border: none;
color: rgba(0,120,0,0.5);
background-color: rgba(0,0,0,0.3);
}

#inner-box {
margin: 5px;
border: none;
background-color: rgba(0,0,0,0.7);
}

#outer-box {
margin: 5px;
border: none;
background-color: rgba(0,0,0,0.3);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #FFFFFF;
}

#entry:selected {
background-color: rgba(122,132,120,0.3);
}
